.word-card__wrapper
  margin-top: 20px

.word-card
  background-color: #33bbba
  padding: 10px
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 10px

.card__img
  display: flex
  margin-bottom: 10px


.card__image
  border-radius: 10px

.card-word__sub-title
  margin-bottom: 0

audio
  height: 25px

.card-word__btn-sound
  width: 45px

.e-book__navigation
  display: flex


.nav__page 
  padding: 10px

.nav__group 
  padding: 10px

.game-btn
  padding: 10px


.e-book__nav
  display: flex
  gap: 5px
  margin-top: 20px