.word-card__wrapper
  margin-top: 20px

.word-card
  background-color: #33bbba
  padding: 10px
  display: flex
  flex-direction: column
  align-items: center

.card__img
  display: flex
  margin-bottom: 10px

audio
  height: 25px

.e-book__navigation
  display: flex


.nav__page 
  padding: 10px

.nav__group 
  padding: 10px

.game-btn
  padding: 10px


.e-book__nav
  display: flex
  gap: 5px
  margin-top: 20px