.stats-content
  color: white
  background-color: #33bbba
  margin-top: 50px
  padding: 30px 30px

.stats__wrapper
  border: 1px solid #EFEFEF


.stats__title
    display: flex
    justify-content: center
    padding: 10px 10px

.stats__table
  margin: auto

.stats__th
  padding: 10px
  text-align: center

.stats__game
  padding-right: 20px

.stats__sub_title
    padding: 10px